::ng-deep .p-calendar-w-btn .p-datepicker-trigger {
  background-color: #fff;
  border: none;
  color: black;
}

::ng-deep .p-calendar-w-btn .p-datepicker-trigger:hover {
  background-color: #3B82F6;
  color: #fff;
}
