<div class="container">
  <div class="element" *ngFor="let item of [0, 1]">
    <div *ngFor="let item of [0, 1]" class="lorem-text">
      <div class="header">
        Catalog promotion tutorial <b>(STEP {{ stepNumber }})</b>
      </div>
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempore
          veritatis sequi unde iure, quis earum ea sed doloremque, aliquid
          corporis voluptatum soluta quasi aliquam repellendus ipsa enim?
          Corporis, quos.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempore
          veritatis sequi unde iure, quis earum ea sed doloremque, aliquid
          corporis voluptatum soluta quasi aliquam repellendus ipsa enim?
          Corporis, quos.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempore
          veritatis sequi unde iure, quis earum ea sed doloremque, aliquid
          corporis voluptatum soluta quasi aliquam repellendus ipsa enim?
          Corporis, quos.
        </p>
      </div>
      <app-divider></app-divider>
    </div>
  </div>
</div>
