.container {
  background-color: var(--form-box-bg);
  padding-bottom: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    margin: 0 10% 24px 10%;
  }

  span.text {
    font-size: 18px;
    font-weight: 500;
  }

  span.required {
    color: #B11A33;
    font-size: 12px;
    white-space: nowrap;
  }
}

@media (width < 1200px) {
  .container {
    padding-top: 15px;
  }
}