.container {
  display: flex;
  gap: 5px;
  .description {
    width: 50%;
  }
  .conditions {
    width: 50%;
  }
}

@media (width < 1200px) {
  .container {
    flex-direction: column;

    .conditions {
      display: block;
      width: auto;
    }
    .description {
      width: auto;
    }
  }
}