.container {
  display: flex;
  gap: 5px;

  .padding-box {
    height: 15px;
    background-color: var(--form-box-bg);
    width: 100%;
  }

  .nav-steps {
    white-space: nowrap;
    flex:1;
  }
}

